<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TalentTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app_tech_talent.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="logo">
                <img src="imagens/logo_tech (1).png" alt="Logo">
            </div>
            <nav class="nav-bar">
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Vagas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                    @if (User.IsInRole("Profissional"))
                                    {
                                        <a asp-area="" asp-controller="Vagas" asp-action="VagasDisponiveis" class="nav-link">Vagas Disponíveis</a>
                                        <a asp-area="" asp-controller="Vagas" asp-action="VagasCandidatadas" class="nav-link">Vagas Candidatadas</a>
                                    }

                                    @if (User.IsInRole("Empresa"))
                                    {
                                        <a asp-area="" asp-controller="Vagas" asp-action="Index" class="dropdown-item">Vagas criadas</a>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                    <li>
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Meu Perfil
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                <a asp-area="" asp-controller="Usuarios" asp-action="Index" class="dropdown-item">Alterar Senha</a>
                                @if (User.IsInRole("Profissional"))
                                {
                                    <a asp-area="" asp-controller="Profissionais" asp-action="Index" class="dropdown-item">Dados Cadastrais</a>
                                }
                                @if (User.IsInRole("Empresa"))
                                {
                                    <a asp-area="" asp-controller="Empresas" asp-action="Index" class="dropdown-item">Dados Cadastrais</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Profissional"))
                                {
                                    <a asp-area="" asp-controller="Curriculos" asp-action="Index" class="dropdown-item">Currículo</a>
                                }
                            </div>
                        </div>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-area="" asp-controller="Usuarios" asp-action="Create" class="nav-link">Cadastre-se</a>
                        </li>
                    }
                </ul>
                <div class="search-bar">
                    <input type="text" placeholder="Pesquisar...">
                </div>
                <div class="login-button">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="nav-welcome-message">Olá, @User.Identity.Name</span>
                        <a asp-area="" asp-controller="Usuarios" asp-action="Logout" class="nav-link">Sair</a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Usuarios" asp-action="Login" class="nav-link">Login</a>
                    }
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Tech Talent - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-muted">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




