@model app_tech_talent.Models.Curriculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar dados do perfil</h1>

<h4>Currículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCurriculo" />
            <div class="form-group">
                <label asp-for="ResumoProfissional" class="control-label"></label>
                <textarea asp-for="ResumoProfissional" class="form-control" rows="4"></textarea>
                <span asp-validation-for="ResumoProfissional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
