@model app_tech_talent.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/cadastro.css">
    <title>Cadastre-se</title>
</head>

<body>
    <div class="login-container">
        <div class="form-image">
            <img src="~/imagens/logo_tech (1).png" alt="Logo da Aplicação">
        </div>
        <div class="form-registration">
            <h1>Cadastre-se</h1>
            <h4>Como profissional ou empresa</h4>
            <form asp-action="Create" method="post" id="cadastro-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Senha">Senha</label>
                    <input asp-for="Senha" type="password" class="form-control" required />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoUsuario">Selecione o tipo de conta:</label>
                    <select asp-for="TipoUsuario" class="form-control" required>
                        <option value="Profissional">Profissional</option>
                        <option value="Empresa">Empresa</option>
                    </select>
                    <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                </div>
                <div class="btn-container">
                    <a asp-action="Index" id="voltar-btn">Voltar</a>
                    <button type="submit" id="cadastrar-btn">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

