@model app_tech_talent.Models.FormacaoAcademica

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Criar uma nova formação acadêmica</h1>


<hr />
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="InstituicaoDeEnsino" class="control-label"></label>
                <input asp-for="InstituicaoDeEnsino" class="form-control" />
                <span asp-validation-for="InstituicaoDeEnsino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grauObtido" class="control-label"></label>
                <input asp-for="grauObtido" class="form-control" />
                <span asp-validation-for="grauObtido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoDeConclusao" class="control-label"></label>
                <input asp-for="AnoDeConclusao" class="form-control" />
                <span asp-validation-for="AnoDeConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaDeEstudo" class="control-label"></label>
                <input asp-for="AreaDeEstudo" class="form-control" />
                <span asp-validation-for="AreaDeEstudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Voltar</a> |
                <input type="submit" value="Criar" class="btn btn-success"/>
            </div>
        </form>
    </>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
