@model app_tech_talent.Models.FormacaoAcademica

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Editar</h1>


<hr />
<div class="row">
    <   <div class="col-md-6 offset-md-3 text-center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFormacaoAcademica" />
            <div class="form-group">
                <label asp-for="IdCurriculo" class="control-label"></label>
                <input asp-for="IdCurriculo" class="form-control" />
                <span asp-validation-for="IdCurriculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituicaoDeEnsino" class="control-label"></label>
                <input asp-for="InstituicaoDeEnsino" class="form-control" />
                <span asp-validation-for="InstituicaoDeEnsino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grauObtido" class="control-label"></label>
                <input asp-for="grauObtido" class="form-control" />
                <span asp-validation-for="grauObtido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoDeConclusao" class="control-label"></label>
                <input asp-for="AnoDeConclusao" class="form-control" />
                <span asp-validation-for="AnoDeConclusao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaDeEstudo" class="control-label"></label>
                <input asp-for="AreaDeEstudo" class="form-control" />
                <span asp-validation-for="AreaDeEstudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Voltar</a>
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
